@media screen and (min-width: 796px) { /* pc */

.item-category {
  width: fit-content;
  margin: auto;
}

.name {
  display: inline-block;
  text-align: center;
  color: black;
  font-size: 40px;
  font-family: Inter; 
  font-weight: 400;
  word-wrap: break-word;
}

.name2 {
  color: #000;
  display: inline-block;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.category {
  display: flex;
  margin: auto;
}

.category-box {
  margin: auto;
}

.logo {
  display: flex;
  width: 245px;
  height: 58px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 3px solid #000;
  background: rgba(255, 255, 255, 0.83);
  margin-left: 20px;
  margin-top: 20px;
}

.item-name {
  color: #000;
  text-align: justify;
  font-family: Inika;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  width: 92px;
  height: 19px;
  flex-direction: column;
  flex-shrink: 0;
}

.item1 {
  display: flex;
  align-items: center;
}

.image {
  width: 679px;
  height: 348px;
  flex-shrink: 0;
  margin: 30px;
  position: relative;
}

.button {
  position: absolute;
  right: -40px;
  bottom: 40px;
  display: flex;
  width: 207px;
  height: 26.86px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.96);
  text-align: center;
  font-family: Kiwi Maru;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
  width: 211px;
  height: 34px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #64709A;
}

.title {
  display: flex;
  width: 543px;
  height: 85px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.text {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.item2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.image2 {
  width: 679px;
  height: 345.284px;
  flex-shrink: 0;
  position: relative;
  margin: 30px;
}

.button2 {
  position: absolute;
  left: -30px;
  bottom: 40px;
  display: flex;
  width: 187.322px;
  height: 22.53px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #64709A;
  text-align: center;
  font-family: Kiwi Maru;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 211px;
  height: 34px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #C7DDFE;
}

.title2 {
  display: flex;
  width: 543px;
  height: 85px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  text-align: left
}

.text2 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  text-align: justify;
}

.item3 {
  display: flex;
  align-items: center;
}

.image3 {
  width: 695.11px;
  height: 348px;
  flex-shrink: 0;
  margin: 30px;
  position: relative;
}

.button3 {
  position: absolute;
  right: -40px;
  bottom: 30px;
  display: flex;
  width: 207px;
  height: 26.86px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.96);
  text-align: center;
  font-family: Kiwi Maru;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 211px;
  height: 34px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #64709A;
}

.title3 {
  display: flex;
  width: 543px;
  height: 85px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.text3 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.all-category{
  width: fit-content;
  margin: auto;
}
}

@media screen and (max-width: 795px) { /* sp */
  .item-category {
    width: fit-content;
    margin: auto;
  }

  .name {
    display: inline-block;
    text-align: center;
    color: black;
    font-size: 25px;
    font-family: Inter; 
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .name2 {
    color: #000;
    display: inline-block;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .image,
  .image2,
  .image3 {
    max-width: 300px;
    display: flex;
    width: fit-content;
    margin: auto;
  }

  .title,
  .title2,
  .title3 {
    display: flex;
    width: 152px;
    height: 27px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: fit-content;
    margin: auto;
  }

  .text,
  .text2,
  .text3 {
    display: flex;
    width: fit-content;
    margin: auto;
    width: 209px;
    height: 30px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
  }

  .logo {
    display: flex;
    width: 67px;
    height: 22px;
    justify-content: center;
    align-items: center;
    border: 3px solid #000;
    background: rgba(255, 255, 255, 0.83);
    padding: 30px;
  }

  .item-name {
    color: #000;
    text-align: justify;
    font-family: Inika;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    width: 92px;
    height: 19px;
    flex-direction: column;
    flex-shrink: 0;
  }
  
  .category {
    display: flex;
    gap: 50px;
  }
}